<div class="row edit-role" style="margin: 0 !important; position: relative;">
  <div class="col-xl-12">
    <div class="w-100">
      <div class="vis-card-header">
        <div class="row border-b">
          <div class="col-md-8">
            <h4>
              {{'management.objectrole.edit' | translate}}
            </h4>
          </div>

          <div class="col-md-4 text-right">
            <span aria-hidden="true" style="border: none; font-size: 1.5rem; cursor: pointer;"
              (click)="close()">&times;</span>
          </div>
        </div>


      </div>

      <div class="modal-body">
        <form [formGroup]="newRoleForm">
          <div class="row align-items-center">
            <label
              class="col-xl-2 col-md-2 col-sm-12 col-form-label fix-mr label-fix">{{'management.objectrole.code' | translate}}
              <span [style.color]="'red'">*</span></label>
            <div class="col-xl-4 col-md-4 col-sm-12">
              <mat-form-field class="w-100">
                <input matInput name="product1" class="width-100 border-bot input-custom" formControlName="code" [maxlength]=50
                  [(ngModel)]="mstrServiceCode" (ngModelChange)="checkCodeConflict()">

                <mat-error *ngIf="hasError('code','required')">
                  {{'management.service.error.required' | translate}}
                </mat-error>

                <mat-error *ngIf="hasError('code','pattern')">
                  {{'management.service.error.malformed' | translate}}
                </mat-error>

                <mat-hint *ngIf="conflictCode == true">{{'management.service.error.codeConflict' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>

            <label
              class="col-xl-2 col-md-2 col-sm-12 col-form-label fix-mr label-fix">{{'management.objectrole.name' | translate}}
              <span [style.color]="'red'">*</span></label>
            <div class="col-xl-4 col-md-4 col-sm-12">
              <mat-form-field class="w-100">
                <input matInput name="product1" class="width-100 border-bot input-custom" formControlName="name" [maxLength]=100
                  (ngModelChange)="checkNameEmpty()">

                <mat-error *ngIf="hasError('name','required')">
                  {{'management.service.error.required' | translate}}
                </mat-error>

                <mat-hint *ngIf="mblnServiceName == true">{{'management.service.error.malformed' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>


          </div>

          <div class="row align-items-center">

            <label
              class="col-xl-2 col-md-2 col-sm-12 col-form-label fix-mr label-fix">{{'management.objectrole.des' | translate}}
              <span [style.color]="'red'">*</span></label>
            <div class="col-xl-4 col-md-4 col-sm-12">
              <mat-form-field class="w-100">
                <input matInput name="product1" class="width-100 border-bot input-custom" formControlName="description"
                  (ngModelChange)="checkDesEmpty()" [maxlength]=300>
                <mat-error *ngIf="hasError('description','required')">
                  {{'management.service.error.required' | translate}}
                </mat-error>

                <mat-hint *ngIf="mblnServiceDes == true">{{'management.service.error.malformed' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>

            <label
              class="col-xl-2 col-md-2 col-sm-12 col-form-label fix-mr label-fix">{{'management.service.info.status' | translate}}
              <span [style.color]="'red'">*</span></label>
            <div class="col-xl-4 col-md-4 col-sm-12">
              <select class="select-search" formControlName="status">
                <option [value]="1">{{'management.service.info.work' | translate}}</option>
                <option [value]="0">{{'management.service.info.nonwork' | translate}}</option>
              </select>
            </div>

          </div>
          <div class="w-100 d-flex justify-content-center py-2 mb-2">
            <button type="button" (click)="close()" class="btn btn-primary click-btn mr-2" data-dismiss="modal"><i
                class="fa fa-times"></i>
              {{'management.service.button.cancel' | translate}}</button>
            <button type="button" (click)="confirmEdit(show)" class="btn btn-primary click-btn ml-2"
              [disabled]="!newRoleForm.valid || mblnServiceDes || mblnServiceName || conflictCode"><i
                class="fa fa-save"></i>
              {{'management.service.button.save' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <ng-template #show>
    <div class="row" style="margin-right: 0 !important; margin-left: 0 !important;">
      <div class="col-md-10 modal-body">
        <span> <img style="margin: 0 3px 3px 0;" src="assets/icons8-question-mark-16.png"
            alt="">{{'management.service.message.confirm' | translate}}</span>
      </div>

      <div class="col-md-2 modal-body">
        <button type="button" class="close pull-right" aria-label="Close" (click)="onBackConfirm()" size="6MB">
          <span aria-hidden="true" style="border: none">&times;</span>
        </button>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary click-btn-upload" (click)=onBackConfirm()
        style="width: 88.64px;"><i class="fa fa-times"></i>
        {{'management.service.button.No' | translate}}
      </button>
      <button class="btn btn-primary click-btn-upload" type="button" (click)=editRole() style="width: 88.64px;"><i
          class="fa fa-check"></i>
        {{'management.service.button.Yes' | translate}}
      </button>
    </div>
  </ng-template>

</div>
