<div class="row d-flex justify-content-center align-items-center" style="height: 100%">
  <div class="col-4 value-text" align="right">{{content['percent']}}</div>
  <div class="col-4 w-100 d-flex justify-content-center align-items-center">
    <select name="" id="" class="noBoder value-text" (change)="changeCode()" [(ngModel)]="codeWarning">
      <option [value]="op.code" *ngFor="let op of dataSelect">{{op.name}}</option>
    </select>
<!--    {{content['quantity']}}-->
  </div>
  <div class="col-4 value-text">{{content['quantity']}}</div>
</div>
