$border-bottom: rgba(0, 0, 0, .42);
.colse{
  display: none;
}
.toggle-cpn {
  .demo label {
    margin-bottom: 2px !important;

    &:nth-of-type(2) {
      margin-bottom: 0 !important;
    }
  }


  .col-form-label-sm {
    padding-left: 1px;
    font-size: 14px;
  }

  .unit-css {
    padding-bottom: 0;
    margin-bottom: 0 !important;
  }

  .demo.activate {
    right: 0 !important;
    box-shadow: -11px 12px 23px rgba(0, 0, 0, .2);
    padding: 5px 10px 5px
  }

  .demo #demo-setting + form {
    display: none
  }

  .demo.activate #demo-setting + form {
    display: block
  }

  .demo {
    position: absolute;
    top: 63px;
    right: 0;
    width: 300px;
    z-index: 9;
    background: #FFFFFF;
  }

  .activate {
    border: 1px solid #c8ced3;
  }

  .row {
    margin: 0;
  }

  .col-sm-3 {
    padding-right: 0 !important;
  }

  //setting dashboard
  .demo > span {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 5px 0 0 5px;
    background: #FFFFFF;
    padding: 2px;
    border: 1px solid #c8ced3;
    border-right: 1px solid transparent;
    text-align: center;
    line-height: 28px;
    cursor: pointer
  }

  .demo.activate > span i:before {
    content: "\f00d"
  }

  .demo.activate > span {
    left: -30px;
    top: -1px;
  }

  //.full-width {
  //  width: 100% !important;
  //}

  /deep/ .dropdown[_ngcontent-c2] button[_ngcontent-c2] {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
  }

  /deep/ .btn-outline-secondary {
    color: black !important;

    &:hover {
      outline: none;
      background-color: unset;
    }

    &:focus {
      outline: none;
      background-color: unset;
    }

    &:active {
      outline: none;
      background-color: unset;
    }
  }

  /deep/ .show > .btn-outline-secondary.dropdown-toggle .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    background-color: white !important;
    margin-bottom: 4px !important;
  }

  /deep/ div {
    outline: unset !important;
  }

  .target-container {
    /deep/ .show {
      .btn-outline-secondary.dropdown-toggle {
        &:focus {
          box-shadow: unset !important;
        }
      }
    }

    /deep/ .dropdown {
      &:after {
        right: .3rem !important;
      }

      .btn-outline-secondary {
        border: none;
      }

      /deep/ button {
        padding-right: 1rem !important;

        &:focus {
          box-shadow: unset !important;
        }

        &::after {
          right: .2rem !important;
          color: rgba(0, 0, 0, .54) !important;
        }

        background-color: unset !important;
        border-bottom: 1px solid $border-bottom !important;
        margin-bottom: 4px;
        //transform: translateX(-10px);
        // width: 101%;
        padding-right: 0;
        margin-right: 0;
        padding-left: .2rem
      }

      .btn {
        padding: 0;
        border-radius: unset;
      }
    }

    /deep/ .dropdown-menu {
      //dropmenu here
      transform: translateX(-95px);
      width: 160%;
      border-radius: unset;
      margin-top: -2px;
      // transform: translateX(-10px);
      /deep/ .dropdown-container {
        //container here
        padding: 0;
        padding-left: .6rem !important;
        padding-right: .3rem !important;

        /deep/ .treeview-header {
          width: 100%;

          .dropdown-divider {
            border: none;
          }

          // transform: translateX(8px);
          //treeview header here
          /deep/ .row-filter {
            //row-filter here
            /deep/ .col-12 {
              //col-12 here
              /deep/ .form-control {
                border-radius: unset;
                border: none;
                border-bottom: 1px solid #e4e5e6;
                outline: none !important;

                &:focus {
                  border-color: #3F51B5 !important;
                  outline: none !important;
                  box-shadow: none;
                }

                //form-control here
                width: 100%;
                // transform: translateX(-12.5px)
              }
            }
          }
        }

      }
    }

    // /deep/ div.treeview-header input:focus {
    // outline: none !important;
    // }

  }

  #responsive {
    padding-top: 12.58px;
    padding-bottom: 12.58px;
  }

  //day icon datepicker sang phai
  /deep/ .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    margin-left: 3px;
  }

  //day icon dropdown datetime sang phai
  /deep/ .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
    margin-right: 3px !important;
  }

  /deep/ .mat-select-value {
    overflow: unset !important;
  }

  #pad {
    padding-bottom: 2px;
  }

  /deep/ .ng-trigger-transformPanel {
    //min-width: unset !important;
    //width: 100% !important;
    margin-top: 22px !important;
    //margin-left: 16px !important;
    //border-radius: 0 !important;
  }

  .demo {
    /deep/ .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 0 !important;
      padding-bottom: 2px !important;
    }
  }

  /deep/ .mat-datepicker-content .mat-calendar {
    width: 275px !important;
    //height: 350px !important;
  }

  /deep/ .ng-trigger-transformPanel {
    //min-width: unset !important;
    //width: 100% !important;
    margin-top: 0 !important;
    //margin-left: 16px !important;
    //border-radius: 0 !important;
  }

  /deep/ .dropdown-toggle {
    &:after {
      border-top: 0.38em solid !important;
      border-right: .35em solid transparent !important;
      border-left: .35em solid transparent !important;
    }
  }

  .select-month {
    width: calc(40% - .3rem);
    margin-left: .3rem;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, .42);
    outline: none;
    margin-bottom:1.25em;
  }

  .font-text1 {
    font-weight: 400;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .width100 {
    width: 100% !important;
  }

  .width55 {
    width: 60% !important;
  }

  /deep/ .mat-form-field {
    width: 100%;
  }
}

.wid{
  width: 20px;
  height: 30px;
}
