$border-bottom: rgba(0, 0, 0, 0.42);
.click-btn {
  width: 110px;
}
.warning-receive-cpn {
  .col-form-label {
    padding-bottom: 0 !important;
  }

  // gi?m kho?ng c�ch gi?a search-container v� table

  .card {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem !important;
    button {
      white-space: nowrap;
    }
  }
  .total-row {
    display: flex;
    justify-content: space-between;
  }
  // gi?m kho?ng c�ch gi?a button v� � input-search
  .form-group {
    margin-bottom: 0;
  }

  .form-control {
    border: 1px solid #adadad !important;
  }

  .span-validate {
    color: red;
  }

  /// style for multi-select /
  .example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }

  .example-month-picker .mat-calendar-arrow {
    display: none;
  }

  .example-form,
  mat-form-field {
    width: 100%;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  /deep/ .mat-paginator-icon {
    width: 22px !important;
  }

  // multi three dot

  /deep/ .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 4px 0 !important;
  }

  form-group {
    margin-bottom: 0 !important;
  }

  .card-body {
    padding-top: 0.5rem !important;
    padding-bottom: 0 !important;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .btn-update-config {
    button {
      width: 100px;
    }
  }

  .warning-config-cpn {
    table {
      width: 100%;
      min-width: 850px;
      table-layout: fixed !important;
      background-color: white;
      th {
        text-align: center;
      }

      th,
      td {
        padding: 0.4rem !important;
      }
      tr,
      td {
        padding: 0.4rem !important;
        padding-bottom: 0px !important;
        padding-top: 0.9% !important;
      }

      tr {
        td {
          &:nth-child(2) {
            text-align: center;
          }
        }
        th {
          &:nth-child(1) {
            width: 3% !important;
            text-align: center;
          }

          &:nth-child(2) {
            width: 4% !important;
            text-align: center;
          }

          &:nth-child(3) {
          }

          &:nth-child(4) {
            width: 12% !important;
          }

          &:nth-child(5) {
            width: 17% !important;
          }

          &:nth-child(6) {
            width: 13% !important;
          }

          &:nth-child(7) {
            width: 11% !important;
          }

          &:nth-child(8) {
            width: 7% !important;
          }
        }
      }
      .btn-edit {
        border: none;
        background: transparent;
      }
    }
  }

  /deep/ .dropdown-btn[_ngcontent-c4] .ng-star-inserted {
    color: black !important;

    &:hover {
      background: none !important;
      border: none !important;
    }
  }

  .select-search {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid $border-bottom;
    height: 22px;
  } 
  .select-search:focus {
    border-style: dotted;
    border-width: 0.5px;
  }

  /deep/ .toast-success {
    background-color: #63b8ff !important;
    color: black !important;
  }

  /deep/ .toast-error {
    background-color: #ff8173 !important;
    color: black !important;
  }

  /deep/ .toast-warning {
    background-color: #fad49d !important;
    color: black !important;
    //border: #20a8d8 !important;
  }

  /deep/ .ngx-pagination {
    margin-bottom: 0 !important;
    padding: 0;
  }

  .click-btn {
    width: 110px;
  }

  .click-btn-upload {
    width: 100px;
  }

  .title-upload {
    font-size: 1.2rem;
  }

  /deep/ .modal-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .input-upload {
    cursor: pointer;
    outline: none;
  }

  /deep/ h5,
  .h5 {
    font-size: 0.9rem !important;
    font-style: normal !important;
  }

  /deep/ .dropdown-list[_ngcontent-c4] {
    margin-top: 0.2px !important;
  }

  /deep/ .dropdown-list[_ngcontent-c4] .filter-textbox[_ngcontent-c4] input[_ngcontent-c4] {
    &::placeholder {
      font-style: italic;
    }
  }

  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .header-table {
    background-color: #f1f7ff;
  }

  /deep/ .table thead th {
    border: #f1f7ff !important;
  }

  td {
    height: 39px !important;
  }

  //
  ///deep/ #tooltip-top > .tooltip-inner {
  //  background-color: #fff !important;
  //  color: #000 !important;
  //  border: 1px solid #062e56;
  //}
  /deep/ .tooltip-inner {
    background-color: black !important;
    color: white;
  }

  /deep/ button.pull-right {
    outline: none !important;
  }

  /deep/ .fix {
    padding-bottom: 0 !important;
  }

  /deep/.select-search[_ngcontent-c1] {
    padding-bottom: 3px;
  }

  /deep/ button.dropdown-toggle,
  button.btn-outline-secondary {
    background: white !important;
    outline: none !important;
    border: none;
    border-bottom: 1px solid rgb(169, 169, 169);
    border-radius: unset;
  }

  /deep/ .btn-outline-secondary {
    color: black !important;

    &:hover {
      outline: none;
      background-color: unset;
    }

    &:focus {
      outline: none;
      background-color: unset;
    }

    &:active {
      outline: none;
      background-color: unset;
    }
  }
  .configtree {
    /deep/ .show {
      .btn-outline-secondary.dropdown-toggle {
        &:focus {
          box-shadow: unset !important;
        }
      }
    }

    /deep/ .dropdown {
      &:after {
        right: 0.3rem !important;
      }

      .btn-outline-secondary {
        border: none;
      }

      /deep/ button {
        padding-left: 3px !important;
        &:focus {
          box-shadow: unset !important;
          border-style: dotted;
          border-width: 0.5px;
        }

        &::after {
          right: 0.2rem !important;
          color: rgba(0, 0, 0, 0.54) !important;
        }

        background-color: unset !important;
        border-bottom: 1px solid $border-bottom !important;
        margin-bottom: 4px;
        //transform: translateX(-10px);
        // width: 101%;
        padding-right: 0;
        margin-right: 0;
        padding-left: 0.2rem;
        height: 23px;
      }

      .btn {
        padding: 0;
        border-radius: unset;
      }
    }

    /deep/ .dropdown-menu {
      //dropmenu here
      width: 100%;
      border-radius: unset;
      margin-top: -2px;
      /deep/ .dropdown-container {
        //container here
        padding: 0;
        padding-left: 0.6rem !important;
        padding-right: 0.3rem !important;

        /deep/ .treeview-header {
          width: 100%;

          .dropdown-divider {
            border: none;
          }

          // transform: translateX(8px);
          //treeview header here
          /deep/ .row-filter {
            //row-filter here
            /deep/ .col-12 {
              //col-12 here
              /deep/ .form-control {
                border-radius: unset !important;
                border: none !important;
                border-bottom: 1px solid #e4e5e6 !important;
                outline: none !important;

                &:focus {
                  border-color: #3f51b5 !important;
                  outline: none !important;
                  box-shadow: none;
                }

                //form-control here
                width: 100%;
                // transform: translateX(-12.5px)
              }
            }
          }
        }
      }
    }
  }
  /deep/ .dropdown-toggle {
    &:after {
      border-top: 0.38em solid !important;
      border-right: 0.35em solid transparent !important;
      border-left: 0.35em solid transparent !important;
    }
  }

  .service-add {
    /deep/ .show {
      .btn-outline-secondary.dropdown-toggle {
        &:focus {
          box-shadow: unset !important;
        }
      }
    }

    /deep/ .dropdown {
      &:after {
        right: 0.3rem !important;
      }

      .btn-outline-secondary {
        border: none;
      }

      /deep/ button {
        &:focus {
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }

        &::after {
          right: 0.2rem !important;
          color: rgba(0, 0, 0, 0.54) !important;
        }

        background-color: unset !important;
        border-bottom: 1px solid $border-bottom !important;
        margin-bottom: 4px;
        //transform: translateX(-10px);
        // width: 101%;
        padding-right: 0;
        margin-right: 0;
        padding-left: 0.2rem;
        height: 23px;
      }

      .btn {
        padding: 0;
        border-radius: unset;
      }
    }

    /deep/ .dropdown-menu {
      //dropmenu here
      margin-left: 47% !important;
      transform: translateX(-95px);
      width: 100%;
      border-radius: unset;
      margin-top: -2px;
      // transform: translateX(-10px);
      /deep/ .dropdown-container {
        //container here
        padding: 0;
        padding-left: 0.6rem !important;
        padding-right: 0.3rem !important;

        /deep/ .treeview-header {
          width: 100%;

          .dropdown-divider {
            border: none;
          }

          // transform: translateX(8px);
          //treeview header here
          /deep/ .row-filter {
            //row-filter here
            /deep/ .col-12 {
              //col-12 here
              /deep/ .form-control {
                border-radius: unset !important;
                border: none !important;
                border-bottom: 1px solid #e4e5e6 !important;
                outline: none !important;

                &:focus {
                  border-color: #3f51b5 !important;
                  outline: none !important;
                  box-shadow: none;
                }

                //form-control here
                width: 100%;
                // transform: translateX(-12.5px)
              }
            }
          }
        }
      }
    }
  }

  /deep/ .dropdown-toggle {
    &:after {
      border-top: 0.38em solid !important;
      border-right: 0.35em solid transparent !important;
      border-left: 0.35em solid transparent !important;
    }
  }

  /deep/ .mat-tab-body-content {
    overflow: hidden !important;
  }
  .card-header {
    background-color: #f0f3f5 !important;
  }
}
