<div class="vis-header-3-weight">
  <h4 class="modal-title" id="exampleModalLabel">{{'management.weight.addWeight' | translate}}</h4>
  <span aria-hidden="true" style="border: none; font-size: 1.5rem; cursor: pointer;"
        (click)="setFormAdd()">&times;</span>
</div>
<div class="modal-body target-weigth">
  <div class="form-group row align-items-center">
    <label class="col-xl-2 col-md-2 col-sm-12">{{'management.weight.serviceName' | translate}}
      <span [style.color]="'red'">*</span></label>
    <div class="col-xl-4 col-md-4 col-sm-12 pad-calc4">
      <input name="product1" class="width-100 border-bot disable-date" [(ngModel)]="servicenameAdd" [readOnly]="true"
             [disabled]="true"
        data-toggle="tooltip" data-placement="top" title="{{servicenameAdd}}">
    </div>

    <label class="col-xl-2 col-md-2 col-sm-12">{{'management.weight.unit' | translate}}
      <span [style.color]="'red'">*</span></label>
    <div class="col-xl-4 col-md-4 col-sm-12 treeview-unit">
      <!--              <ngx-dropdown-treeview id="units" [items]="nodeTreeViews" [config]="mobjConfig"-->
      <!--                                     (selectedChange)="selectUnit($event)"-->
      <!--                                     [ngxDisabledOnSelector]="'button.dropdown-toggle'">-->
      <!--              </ngx-dropdown-treeview>-->
      <app-config-tree class="target-container shopCodeScore" [items]="nodeTreeViews" [(value)]="valueAdd"
        (valueChange)="unitChange($event)" [config]="mobjConfigScore">
      </app-config-tree>
    </div>

    <label class="col-xl-2 col-md-2 col-sm-12 mar-1r">{{'management.weight.staff' | translate}}
    </label>
    <div class="col-xl-4 col-md-4 col-sm-12 mar-1r">
      <app-config-tree class="target-container shopCodeScore" [items]="staffTrees" [(value)]="staffTreeChose"
        (valueChange)="staffChangeAdd($event)" [config]="mobjConfigScore">
      </app-config-tree>
    </div>
    <label class="col-xl-2 col-md-2 col-sm-12 mar-1r">{{'management.weight.score' | translate}}
      <span [style.color]="'red'">*</span></label>
    <div class="col-xl-4 col-md-4 col-sm-12 form-message pad-calc4 mar-1r">
      <input name="product4" class="width-100 border-bot select-search-score" [(ngModel)]="scoreAdd" maxlength="{{maxLengthScore}}"
        (ngModelChange)="changeScoreAdd()">
      <small class="validate-red small-massage-score"
        *ngIf="scoreAddNull">{{'management.weight.notNullScore' | translate}}</small>
      <small class="validate-red small-massage-score"
        *ngIf="scoreAddFalse">{{'management.weight.validScore' | translate}}</small>
    </div>

    <label class="col-xl-2 col-md-2 col-sm-12 mar-1r">{{'management.weight.scoreMax' | translate}}
      <span [style.color]="'red'">*</span></label>
    <div class="col-xl-4 col-md-4 col-sm-12 form-message pad-calc4 mar-1r">
      <input name="product5" class="width-100 border-bot select-search-score" [(ngModel)]="scoreMaxAdd" maxlength="{{maxLengthScore}}"
             (ngModelChange)="changeScoreMaxAdd()">
      <small class="validate-red small-massage-score"
             *ngIf="scoreMaxAddNull">{{'management.weight.notNullScore' | translate}}</small>
      <small class="validate-red small-massage-score"
             *ngIf="scoreMaxAddFalse">{{'management.weight.validScore' | translate}}</small>
    </div>

    <label class="col-xl-2 col-md-2 col-sm-12">{{'management.weight.status' | translate}}
      <span [style.color]="'red'">*</span></label>
    <div class="col-xl-4 col-md-4 col-sm-12 pad-calc4">
      <select name="product5" class="width-100 border-bot select-search-score" [(ngModel)]="statusAdd" [disabled]="true">
        <option [value]="1">{{'management.weight.active' | translate}}</option>
        <option [value]="0">{{'management.weight.notActive' | translate}}</option>
      </select>
    </div>

    <label class="col-xl-2 col-md-2 col-sm-12">{{'management.weight.fromDate' | translate}}
      <span [style.color]="'red'">*</span></label>
    <div class="col-xl-4 col-md-4 col-sm-12 form-message">
      <mat-form-field class="date-width">
        <input matInput [matDatepicker]="dp3" (dateInput)="noMethod()" [formControl]="mdtDateFromAdd"
          (dateChange)="dateChangeFromAdd($event)" [max]="mdtMaxDate" [min]="mdtMinDate">
        <mat-datepicker-toggle style="z-index: 2000 !important" matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker style="z-index: 2000 !important" #dp3 [startView]="'multi-year'"
          panelClass="example-month-picker">
        </mat-datepicker>
        <!--                {{mdtDate.value._d.getTime()}}-->
      </mat-form-field>
      <small class="validate-red small-massage" *ngIf="dateFromAddInvalid">{{'management.weight.invalidDate' | translate}}
      </small>
      <small class="validate-red small-massage" *ngIf="dateFromAddNull">{{'management.weight.notNullDate' | translate}}
      </small>
      <small class="validate-red small-massage"
        *ngIf="dateFromAddFalse">{{'management.weight.checkFromDate' | translate}}
      </small>
    </div>

    <label class="col-xl-2 col-md-2 col-sm-12">{{'management.weight.toDate' | translate}}
    </label>
    <div class="col-xl-4 col-md-4 col-sm-12 form-message">
      <mat-form-field class="date-width">
        <input matInput [matDatepicker]="dp4" (dateInput)="noMethod()" [formControl]="dateToAdd"
          (dateChange)="dateChangeToAdd($event)" [max]="mdtMaxDate" [min]="mdtMinDate">
        <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
        <mat-datepicker #dp4 [startView]="'multi-year'" panelClass="example-month-picker">
        </mat-datepicker>
        <!--                {{mdtDate.value._d.getTime()}}-->
      </mat-form-field>
      <small class="validate-red small-massage" *ngIf="dateToAddInvalid">{{'management.weight.invalidDate' | translate}}
      </small>
      <small class="validate-red small-massage"
        *ngIf="dateToAddNull">{{'management.weight.notNullDate' | translate}}</small>
      <small class="validate-red small-massage"
        *ngIf="dateToAddFalse">{{'management.weight.checkToDate' | translate}}</small>
    </div>

  </div>
</div>
<!--        <div style="text-align: center" *ngIf="errorAdd"><span>Dữ liệu bị trùng lặp</span></div>-->
<div class="w-100 d-flex justify-content-center py-2 mb-2">
  <button  type="button" class="btn btn-primary mr-2 btn-center" data-dismiss="modal"
    (click)="setFormAdd()"><i class="fa fa-times"></i>
    {{'management.weight.cancel' | translate}}</button>
  <button type="button" class="btn btn-primary ml-2 btn-center" (click)="clickSave(add)" [disabled]="showAddButton"><i
      class="fa fa-save"></i>
    {{'management.weight.save' | translate}}</button>
</div>

<ng-template #add>
  <div class="modal-body">
    <i style="font-size: 1.2em; color: #20a8d8" class="fa fa-question-circle"></i>
<!--      <span class="mx-1">{{'management.target.table.template.delete?' | translate}}-->
<!--        {{marrDataDelte.length}}-->
<!--        {{'management.target.table.template.record?' | translate}}</span>-->
    {{'management.weight.sureAdd' | translate}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary click-btn btn-center"
            (click)="closeModal2()"><i class="fa fa-times"></i> {{'management.target.button.no' | translate}}
    </button>
    <button (click)="saveCreate()" class="btn btn-primary click-btn btn-center"
            type="button"><i class="fa fa-check"></i> {{'management.target.button.yes' | translate}}
    </button>
  </div>
</ng-template>
