<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
    <div class="form-inline row-item">
      <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed"
         [class.fa-caret-down]="!item.collapsed"></i>
      <label class="form-check-label" [style.font-weight]="item.value == value ? 'bold' : ''"  tooltip="{{ item.text }}" (click)="select(item)">{{ item.text }}</label>
    </div>
  </ng-template>
  <ng-template #headerTemplate let-config="config" let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange"
               let-onFilterTextChange="onFilterTextChange">
    <div *ngIf="config.hasFilter" class="row row-filter">
      <div class="col-12">
        <input class="form-control search" type="text" placeholder="&#xF002;" style="font-family:Arial, FontAwesome; width: 100%;"
        [(ngModel)]="filterText" (ngModelChange)="onFilterTextChange($event)" />
      </div>
    </div>
    <div *ngIf="config.hasDivider" class="dropdown-divider"></div>
  </ng-template>
  <ngx-treeview [config]="config" [headerTemplate]="headerTemplate" [items]="items"
                         [itemTemplate]="itemTemplate">
  </ngx-treeview>
