<div class="w-100 staff-vds-edit">
  <div class="vis-card-header">
    <h4>
      {{'management.group.table.head.addStaff' | translate}}
    </h4>
    <span (click)="close()" style="cursor: pointer"><i class="fa fa-times"></i></span>
  </div>
  <div class="card-body">
    <form (ngSubmit)="confirmCreate(show)" [formGroup]="vdsFormEdit">
      <div class="form-group row align-items-center mt-2">
        <div class="col-md-4"><input type="radio" formControlName="shopWarning" value="1">
          <span class="pdl-2">{{'management.group.table.head.receiveWarning' | translate}}</span>
        </div>
        <div class="col-md-4"><input type="radio" formControlName="shopWarning" value="0">
          <span class="pdl-2">{{'management.group.table.head.notWarning' | translate}}</span>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <div class="col-md-2">{{'management.group.table.head.shopName' | translate}}<span style="color:red">*</span></div>
        <div class="col-md-4">
          <app-config-tree class="target-container shopCodeScore" [items]="nodeTreeViews" [(value)]="valueEdit"
                           (valueChange)="unitChange($event)" [config]="mobjConfigScore" style="pointer-events: none">
          </app-config-tree>
        </div>
        <div class="col-md-2 no-pad">{{'management.group.table.head.channel' | translate}}<span style="color:red">*</span></div>
        <div class="col-md-4">
          <input readonly type="text" class="cvNumber" formControlName="vdsChannelCode"/>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <div class="col-md-2">{{'management.group.table.head.staffCode' | translate}}<span style="color:red">*</span></div>
        <div class="col-md-4">
          <app-config-tree class="target-container shopCodeScore" (click)="dirty()" (focusout)="valid()"
                           [items]="staffTrees"
                           [value]="staffTreeChose"
                           (valueChange)="staffChange($event)" [config]="mobjConfigScoreStaff">
          </app-config-tree>
          <mat-error *ngIf="isStfNull && isDirty" class="error-message">
            <mat-error>{{'management.group.table.validate.notNull' | translate}}</mat-error>
          </mat-error>
        </div>
        <div class="col-md-2 no-pad mb-responsive">{{'management.group.table.head.staffName' | translate}}<span style="color:red">*</span></div>
        <div class="col-md-4"><input maxlength="100" type="text" formControlName="staffName" (blur)="checkSpace($event)" class="cvNumber">
          <span class="separator"> </span>
          <mat-error class="error-message" *ngFor="let validation of validation_messages.staffName">
            <mat-error
              *ngIf="vdsFormEdit.get('staffName').hasError(validation.type) && (vdsFormEdit.get('staffName').dirty || vdsFormEdit.get('staffName').touched)">
              {{validation.message}}
            </mat-error>
            <mat-error *ngIf="isPreSpace && !vdsFormEdit.get('staffName').hasError(validation.type) && (vdsFormEdit.get('staffName').dirty || vdsFormEdit.get('staffName').touched)">
              {{'management.group.table.validate.notNull' | translate}}</mat-error>
          </mat-error>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <div class="col-md-2">{{'management.group.table.head.staffType' | translate}}<span style="color:red">*</span></div>
        <div class="col-md-4">
          <select class="select-option" formControlName="staffType">
            <option [value]='null'>{{'management.group.table.head.AllStaff' | translate}}</option>
            <option [value]="1">{{'management.group.table.head.businessStaff' | translate}}</option>
            <option [value]="0">{{'management.group.table.head.otherStaff' | translate}}</option>
          </select>
          <mat-error class="error-message" *ngFor="let validation of validation_messages.staffType">
            <mat-error
              *ngIf="vdsFormEdit.get('staffType').hasError(validation.type) && (vdsFormEdit.get('staffType').dirty || vdsFormEdit.get('staffType').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
        <div class="col-md-2 no-pad mb-responsive">Email<span style="color:red">*</span></div>
        <div class="col-md-4"><input maxlength="50" type="text" formControlName="email" class="cvNumber">
          <span class="separator"> </span>
          <mat-error class="error-message" *ngFor="let validation of validation_messages.email">
            <mat-error
              *ngIf="vdsFormEdit.get('email').hasError(validation.type) && (vdsFormEdit.get('email').dirty || vdsFormEdit.get('email').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
      <div class="row form-group align-items-center">
        <div class="col-md-2">{{'management.group.table.head.phoneNumber' | translate}}<span style="color:red">*</span></div>
        <div class="col-md-4"><input maxlength="50" type="text" formControlName="phoneNumber" class="cvNumber">
          <span class="separator"> </span>
          <mat-error class="error-message" *ngFor="let validation of validation_messages.phoneNumber">
            <mat-error
              *ngIf="vdsFormEdit.get('phoneNumber').hasError(validation.type) && (vdsFormEdit.get('phoneNumber').dirty || vdsFormEdit.get('phoneNumber').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
      <div class="w-100 text-center mb-2 mt-4 vis-btn-group">
        <button type="button" class="btn btn-primary mx-2" (click)="close()"><i class="fa fa-times"></i>
          {{'management.warningconfig.Cancel' | translate}}</button>
        <button type="submit" class="btn btn-primary" [disabled]="vdsFormEdit.invalid || !staffChose || isPreSpace"><i
          class="fa fa-save"></i> {{'management.warningconfig.Save' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
<ng-template #show>
  <div class="row" style="margin-right: 0 !important; margin-left: 0 !important;">
    <div class="col-md-10 modal-body">
      <span> <img style="margin: 0 3px 3px 0;" src="assets/icons8-question-mark-16.png"
                  alt="">{{'management.service.message.confirm' | translate}}</span>
    </div>
    <div class="col-md-2 modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="onBackConfirm()" size="6MB">
        <span aria-hidden="true" style="border: none">&times;</span>
      </button>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary click-btn-upload" (click)=onBackConfirm() style="width: 88.64px;"><i
      class="fa fa-times"></i>
      {{'management.service.button.No' | translate}}
    </button>
    <button class="btn btn-primary click-btn-upload" type="button" (click)=createNewStaff() style="width: 88.64px;"><i
      class="fa fa-check"></i>
      {{'management.service.button.Yes' | translate}}
    </button>
  </div>
</ng-template>
