$border-bottom: rgba(0, 0, 0, 0.42);
.group-vtt-list {

  .text-overf {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  table {
    table-layout: fixed !important;
    background-color: white;
    width: 100%;

    // min-width: 850px;
    input {
      text-align: right;
      border: 1.3px solid #949494;
      border-radius: 2px;
      width: 60%;
    }

    input:read-only {
      pointer-events: none;
      border: none !important;
      background-color: transparent !important;
      text-align: right !important;

      &:focus~.separator {
        background-color: unset !important;
      }
    }

    th,
    td {
      padding: 0.4rem !important;
    }

    tr {
      td {
        .text-over {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
        }

        // div {
        //   &:nth-child(3) {
        //     text-align: center;
        //   }
        // }

      }

      th {

        &:nth-child(1) {
          width: 4% !important;
        }

        &:nth-child(2) {
          width: 10% !important;
        }

        &:nth-child(3) {
          width: 10% !important;
        }

        &:nth-child(4) {
          width: 15% !important;
        }

        &:nth-child(5) {
          width: 8% !important;
        }

        &:nth-child(6) {
          width: 10% !important;
        }

        &:nth-child(7) {
          width: 15% !important;
        }

        &:nth-child(8) {
          width: 7% !important;
        }
        &:nth-child(9) {
          width: 10% !important;
        }
      }

    }
  }

  .select-search {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }

  .header-table {
    background-color: #f1f7ff;
  }

  /deep/ .table thead th {
    border: #f1f7ff !important;
  }

  // table {
  //   min-width: 600px;
  //   th {
  //     text-align: center;
  //   }
  //   td {
  //     padding: 0.4rem !important;
  //   }

  //   tr {
  //     td {
  //       font-weight: normal !important;
  //       div {
  //         &:nth-of-type(1) {
  //           overflow: hidden;
  //           white-space: nowrap;
  //           text-overflow: ellipsis;
  //         }
  //       }
  //     }
  //   }
  // }
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #c8ced3 !important;
  }
  .configtree {
    /deep/ .show {
      .btn-outline-secondary.dropdown-toggle {
        &:focus {
          box-shadow: unset !important;
        }
      }
    }

    /deep/ .dropdown {
      &:after {
        right: 0.3rem !important;
      }

      .btn-outline-secondary {
        border: none;
      }

      /deep/ button {
        padding-left: 3px !important;

        &:focus {
          box-shadow: unset !important;
          border-style: dotted;
          border-width: 0.5px;
        }

        &::after {
          right: 0.2rem !important;
          color: rgba(0, 0, 0, 0.54) !important;
        }

        background-color: unset !important;
        border-bottom: 1px solid $border-bottom !important;
        margin-bottom: 4px;
        //transform: translateX(-10px);
        // width: 101%;
        padding-right: 0;
        margin-right: 0;
        padding-left: 0.2rem;
        height: 23px;
      }

      .btn {
        padding: 0;
        border-radius: unset;
      }
    }

    /deep/ .dropdown-menu {
      //dropmenu here
      width: 100%;
      border-radius: unset;
      margin-top: -2px;

      /deep/ .dropdown-container {
        //container here
        padding: 0;
        padding-left: 0.6rem !important;
        padding-right: 0.3rem !important;

        /deep/ .treeview-header {
          width: 100%;

          .dropdown-divider {
            border: none;
          }

          // transform: translateX(8px);
          //treeview header here
          /deep/ .row-filter {
            //row-filter here
            /deep/ .col-12 {
              //col-12 here
              /deep/ .form-control {
                border-radius: unset !important;
                border: none !important;
                border-bottom: 1px solid #e4e5e6 !important;
                outline: none !important;

                &:focus {
                  border-color: #3f51b5 !important;
                  outline: none !important;
                  box-shadow: none;
                }

                //form-control here
                width: 100%;
                // transform: translateX(-12.5px)
              }
            }
          }
        }
      }
    }
  }
}
