<div class="staff-vds-cpn">
  <div class="no-pdl">
    <div class="no-mb w-100">
      <div class="vis-card-body">
        <mat-tab-group>
          <mat-tab label="{{'management.config-dashboard.group-card' | translate}}">
            <app-config-group-card></app-config-group-card>
          </mat-tab>
          <mat-tab label="{{'management.config-dashboard.single-card' | translate}}">
            <app-config-single-card></app-config-single-card>
          </mat-tab>
          <mat-tab label="{{'management.config-dashboard.single-chart' | translate}}">
            <app-config-single-chart></app-config-single-chart>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
