$border-bottom: rgba(0,0,0,.42);
.vtt-target-cpn{
  @media screen and (min-width: 1200px) {
    .fix-desktop{
      margin-bottom: .2rem;
    }
    .col-xl-1:nth-of-type(4),
    .col-xl-1:nth-of-type(6),
    .col-xl-1:nth-of-type(1),
    .col-xl-1:nth-of-type(3) {
      padding-right: 0 !important;
      padding-left: 5px !important;
    }

    .col-xl-3 {
      padding-left: 0 !important;
    }
  }

  // /deep/ *,
  // *::after,
  // *::before {
  //   box-shadow: unset !important;
  // }

  .col-form-label {
    padding-bottom: 0 !important;
    white-space: nowrap;
  }

  // giảm khoảng cách giữa search-container và table

  .card {
    margin-bottom: .75rem !important;
    button{
      white-space: nowrap;
    }
  }


  // giảm khoảng cách giữa button và ô input-search
  .form-group {
    margin-bottom: 0;
  }

  .form-control {
    border: 1px solid #adadad !important;
  }

  .span-validate {

    color: red;
  }

  /// style for multi-select /
  .example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }

  .example-month-picker .mat-calendar-arrow {
    display: none;
  }


  .example-form,
  mat-form-field {
    width: 100%;

  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  /deep/ .mat-paginator-icon {
    width: 22px !important;

  }



  // multi three dot



  /deep/ .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 4px 0 !important;
  }

  form-group {
    margin-bottom: 0 !important;
  }

  .card-body {
    padding-top: .5rem !important;
    padding-bottom: 0 !important;
  }

  .card-footer {
    padding: 0 !important;
    border: none !important;
  }

  .card-footer {
    border: none !important;
  }

  .btn-update {
    margin-bottom: .5rem;

    button {
      width: 100px;
    }
  }

  table {
    table-layout: fixed !important;
    background-color: white;
    width: 100%;
    min-width: 1000px;

    input {
      text-align: right;
      border: 1.3px solid #949494;
      border-radius: 2px;
      width: 60%;
    }

    input:read-only {
      pointer-events: none;
      border: none !important;
      background-color: transparent !important;
      text-align: right !important;

      &:focus~.separator {
        background-color: unset !important;
      }
    }

    th,
    td {
      padding: 0.4rem !important;
    }

    tr {
      td {
        td {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      th {
        white-space: unset;
        vertical-align: middle;
        &:nth-child(1) {
          width: 25px !important;
        }

        &:nth-child(2) {
          width: 30px !important;
        }
        &:nth-child(5) {
          white-space: nowrap;
        }
      }

    }
  }


  /deep/ .dropdown-btn[_ngcontent-c4] .ng-star-inserted {
    color: black !important;

    &:hover {
      background: none !important;
      border: none !important;
    }
  }


  .select-search {
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: .25rem;
    border-bottom: 1px solid $border-bottom;
  }

  /deep/ .toast-success {
    background-color: #63B8FF !important;
    color: black !important;
  }

  /deep/ .toast-error {
    background-color: #ff8173 !important;
    color: black !important;
  }

  /deep/ .toast-warning {
    background-color: #fad49d !important;
    color: black !important;
    //border: #20a8d8 !important;
  }

  /deep/ .ngx-pagination {
    margin-bottom: 0 !important;
    padding:0;
  }

  .total-row {
    display: flex;
    justify-content: space-between;
  }


  .click-btn {
    width: 110px;
  }

  .click-btn-upload {
    width: 100px;
  }

  .title-upload {
    font-size: 1.2rem;
  }

  /deep/ .modal-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .input-upload {
    cursor: pointer;
    outline: none;
  }

  /deep/ h5,
  .h5 {
    font-size: .9rem !important;
    font-style: normal !important;

  }

  /deep/ .dropdown-list[_ngcontent-c4] {
    margin-top: 0.2px !important;
  }

  /deep/ .dropdown-list[_ngcontent-c4] .filter-textbox[_ngcontent-c4] input[_ngcontent-c4] {
    &::placeholder {
      font-style: italic;
    }
  }

  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .header-table {
    background-color: #f1f7ff;
  }

   .table thead th {
    border: #f1f7ff !important;
  }

  td {
    height: 39px !important;
  }

  //
  ///deep/ #tooltip-top > .tooltip-inner {
  //  background-color: #fff !important;
  //  color: #000 !important;
  //  border: 1px solid #062e56;
  //}
  /deep/ .tooltip-inner {
    background-color: black !important;
    color: white;
  }

  /deep/ button.pull-right {
    outline: none !important;
  }

  /deep/ .fix {
    padding-bottom: 0 !important;
  }


  /deep/.select-search[_ngcontent-c1] {
    padding-bottom: 3px;
  }

  /deep/ button.dropdown-toggle,
  button.btn-outline-secondary {
    background: white !important;
    outline: none !important;
    border: none;
    border-bottom: 1px solid rgb(169, 169, 169);
    border-radius: unset;
  }



  /deep/ .btn-outline-secondary {
    color: black !important;

    &:hover {
      outline: none;
      background-color: unset;
    }

    &:focus {
      outline: none;
      background-color: unset;
    }

    &:active {
      outline: none;
      background-color: unset;
    }
  }



  // fix icon expand
  /deep/ .fa-compress:before {
    margin-right: .5rem;
  }


  /deep/ .fa-expand:before {
    margin-right: .5rem !important;
  }


  .btn-confirm {
    width: 70px;
  }

  .click-btn-upload {
    width: 100px;
  }

  @media screen and (max-width:1300px) {
    table {
      table-layout: fixed !important;
    }
  }

  .cvNumber {
    background: none;
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid $border-bottom;

    &:focus+.separator {
      transform: scaleX(1) translateY(-2px);
      opacity: 1;
    }
  }
  .cvNumber{
    &:read-only{
      pointer-events: none;
    }

  }

  .separator {
    height: 2px;
    width: 100%;
    background: #3F51B5;
    display: block;
    transform: scaleX(0) translateY(-2px);
    transform-origin: 50%;
    opacity: 0;
    transition: all .15s linear;
  }

  /deep/ .dropdown-toggle::after {
    border-top: 0.485em solid;
    border-right: 0.21em solid transparent;
    border-bottom: 0;
    border-left: 0.21em solid transparent;
  }

  @media screen and (max-width:768px) {
    .fix-mt {
      margin-top: 1.2rem;
    }
  }

  @media screen and (max-width:1200px) {
    .fix-mr{
      margin: 1.2rem 0;
    }
  }

  .target-container{
    /deep/ .show{
      .btn-outline-secondary.dropdown-toggle{
        &:focus{
          box-shadow: unset !important;
        }
      }
    }
    /deep/ .dropdown {
      /deep/ button{

        &:focus{
          box-shadow: unset !important;
        }
        &::after{
          right: .3rem;
        }
        border-bottom: 1px solid $border-bottom !important;
        // transform: translateX(-10px);
        // width: 101%;
        padding-right: 0;
        margin-right: 0;
        padding-left: .2rem;
        margin-bottom: .25rem;
      }
      .btn {
        padding: 0;
        padding-left: .25rem;
      }
    }
    /deep/ .dropdown-menu{
      //dropmenu here
      width: 100%;
      border-radius: unset;
      margin-top: -4px;
      // transform: translateX(-10px);
      /deep/ .dropdown-container{
        //container here
        padding: 0;
        padding-left: .6rem !important;
        padding-right: .3rem !important;
        /deep/ .treeview-header{
          width: 100%;
          .dropdown-divider{
            border: none;
          }
          // transform: translateX(8px);
          //treeview header here
          /deep/ .row-filter{
            //row-filter here
            /deep/ .col-12{
              //col-12 here
              /deep/ .form-control{
                border-radius: unset;
                border: none;
                border-bottom: 1px solid #e4e5e6;
                outline: none !important;
                &:focus{
                  border-color: #3F51B5 !important;
                  outline: none !important;
                  box-shadow: none;
                }
                //form-control here
                width: 100%;
                // transform: translateX(-12.5px)
              }
            }
          }
        }

      }
    }
    // /deep/ div.treeview-header input:focus {
    //   outline: none !important;
    // }

  }

  .a-upload{
    color: #551A8B;
  }

  .errorDate{
    color: red;
    position: absolute;
    bottom:0;
    left: 0;
  }
  /deep/.mat-checkbox-inner-container-no-side-margin{
    margin-top: auto !important;
    margin-bottom: -.4rem !important;
  }
  /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #20a8d8!important;
  }

  /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #20a8d8;
  }

  .service-label{
    padding-left: 4px;
    padding-top: 20px;
  }

  .service-cbx{
    padding-top: 12px;
  }

  .select-month {
    //width: calc(40% - .3rem);
    width: calc(45% - 0.7rem);
    margin-left: .3rem;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, .42);
    outline: none;
    margin-bottom: 1.25em;
  }
}
