.add-vds {
  input:read-only,
  select:read-only {
    &:active {
      box-shadow: none;
      outline: none;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .small-ob {
    color: red;
  }

  .mat-dialog-content,
  .mat-dialog-container {
    overflow: visible !important;
  }

  .mat-dialog-actions {
    clear: both;
  }

  .border-b {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .select-search {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }

  .click-btn {
    width: 110px;
  }

  .input-custom {
    height: 20px !important;
  }

  mat-hint {
    color: #f44336 !important;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  select:disabled {
    color: black !important;
  }

  select[disabled] {
    color: black !important;
    background-color: white !important;
  }
}
.click-btn{
  width: 110px !important;
}

/deep/ .toast-success {
  background-color: #63b8ff !important;
  color: black !important;
}

/deep/ .toast-error {
  background-color: #ff8173 !important;
  color: black !important;
}

/deep/ .toast-warning {
  background-color: #fac885 !important;
  color: black !important;
  //border: #20a8d8 !important;
}
